* {
    margin: 0px;
    padding: 0px;
}

/* shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.primary-color {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
}

/* header style */
.header {
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

/* banner goes here */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile {
    width: 500px;
}

.banner-greeting {
    font-size: 20px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    margin-top: 5px;
    font-size: 50px;
    font-weight: 600;
}

.bp {
    margin-bottom: 10px;
}

.banner-contant {
    max-width: 500px;
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    padding-left: 71px;
}

.main-container {
    padding: 130px 230px;
}

.about_me {
    padding: 131px 157px;
    background-color: #FFF8F3;
    text-align: center;
}

.myinfo {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.info-dis {
    text-align: center;
}

.title {
    padding-top: 10px;
}

.what-i-do {
    text-align: center;
}

.ido {
    display: flex;
    margin-top: 50px;
}

.expertise {
    background-color: #FFF8F3;
    margin-right: 24px;
    padding: 25px;
}

.ido-img {
    width: 40px;
    height: 44px;
}
.expertise >h4 ,p{
    padding-top: 20px;
}